@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dongle&family=Open+Sans:wght@500&family=Passion+One&family=Poppins:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --cor1:#132061;
    --cor2:#7386E6;
    --cor3:#2D4BE0;
    --cor4:#303961;
    --cor5:#233AAD;

    --fonte-titulo: 'Press Start 2P', sans-serif;
    --fonte-subtitulo: 'Mono', monospace;
    --fonte-padrao: 'Crimson', serif;
}

*{
    margin: 0px;
    padding: 0px;

}

html,body{
    min-height: 100vh;
}

header{
    width:100vw;
    min-height: 200px;
    max-height: 250px;
    background-color: #7386E6;
    box-shadow: 0px 5px 5px 0px rgb(4, 16, 82);
    padding: 8px;
}

header > h1{
    float: center;
    text-align: center;
    vertical-align: auto;
    font-family: var(--fonte-titulo);
    font-size: 4vw;
    font-variant: small-caps;
    padding: 25px;

}

header > img{
    float: left;
    width: 125px;
    height: 125px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    font-family: var(--fonte-padrao);
    font-weight: 500;
    padding: 10px;
    text-align: left;
    max-width: 680;
}

nav > a:hover{
    background-color: var(--cor1);
    border-radius: 8px;
    transition: all 0.4s;
}

nav > a:active{
    text-decoration: underline;
}

