@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --cor1:#132061;
    --cor2:#7386E6;
    --cor3:#2D4BE0;
    --cor4:#303961;
    --cor5:#233AAD;
    --cor6:#474784;
    --cor7:#B93B42;


    --fonte-titulo: 'Press Start 2P', sans-serif;
    --fonte-subtitulo: 'Mono', monospace;
    --fonte-padrao: 'Crimson Text', serif;
}

*{
    margin: 0px;
    padding: 0px;
}


body,html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    width:100vw;
    min-height: 200px;
    max-height: 250px;
    background-image: linear-gradient(to left, var(--cor5), var(--cor7) );
    box-shadow: 0px 5px 5px 0px rgb(4, 16, 82);
    padding: 8px;
}

header > h1{
    float: center;
    text-align: center;
    vertical-align: auto;
    font-family: var(--fonte-titulo);
    font-size: 4vw;
    font-variant: small-caps;
    padding: 25px;

}

header > img{
    float: left;
    width: 125px;
    height: 125px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    font-family: var(--fonte-padrao);
    font-weight: 500;
    padding: 10px;
    text-align: left;
    max-width: 680px;
}

nav > a:hover{
    background-color: var(--cor1);
    border-radius: 8px;
    transition: all 0.4s;
}

nav > a:active{
    text-decoration: underline;
}

body{
    background-image: linear-gradient(to right, rgb(68, 77, 216), var(--cor2));
}

div#imagem{
    background-image: url('imagens/imagemdefunto.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 27%;
    top:43%;
    bottom: 20%;
    right: 30%;
    width: 622px;
    height:622px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

div#dentrodaimagem{
    position: absolute;
    left: 35%;
    top:44%;
    max-width: 467px;
    max-height: 343px;
    margin: auto;
}

div > h1{
    text-align: center;
}

div > h2{
    text-align: justify;
    padding-top: 42px;
    text-indent: 2em;
}

div > a{
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    background-color: var(--cor4);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 178%;
    left: 7%;
    padding: 0.8em;
}

div > a:hover{
    text-decoration: underline;
}

div > img{
    position: absolute;
    top:117%;
    left:48%;
    width: 250px;
    height: 250px;

}

main{
    margin: auto;
    min-width: 600px;
    max-width: 800px;
    position: absolute;
    right: 31%;
    top: 94%;
    text-align: center;
    background-image: linear-gradient(to left, var(--cor3), var(--cor7));
    border-radius: 8px;
}


h1{
    font-family: var(--fonte-titulo);
}

h2{
    font-family: var(--fonte-subtitulo);
}

h3{
    font-family: var(--fonte-subtitulo);
}

p{
    font-family: var(--fonte-padrao);
}