@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root{
    --cor1:#1A1D73;
    --cor2:#8285F4;
    --cor3:#383EF2;
    --cor4:#3D3F73;
    --cor5:#2C31BF;

    --fonte-titulo: 'Satisfy', cursive;
    --fonte-padrao: 'Crimson Text', serif;
}

*{
    font-family: var(--fonte-padrao);
    padding: 0px;
    margin: 0px;
}

header{
    box-shadow: 11px 3px 11px 0px;
}
body{
    background-image: linear-gradient(to right,var(--cor4), var(--cor3));
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
}
nav > a{
    text-decoration: none;
    color: white;
    font: normal 1.3em bold;
    margin: 10px;
}
.titulo{
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 2.3em;
    text-shadow: 1px 2px 4px;
    font-weight: 400;
}

p{
    text-indent: 20px;
}